name: 单元测试

on:
  workflow_dispatch:
  workflow_call:

permissions:
  checks: write
  contents: read
  actions: read
  security-events: write

jobs:
  test:
    name: 测试 .NET 9.0 环境
    runs-on: ubuntu-latest
    env:
      TZ: "Asia/Shanghai"
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - name: 检出项目仓库
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: 设置测试环境
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.0.x

      - name: 设置数据环境
        uses: shogo82148/actions-setup-mysql@v1
        with:
          mysql-version: "8.0"
          root-password: "123456"
          auto-start: true

      - name: 运行单元测试
        run: |
          dotnet test \
            --configuration Release \
            --verbosity normal \
            --logger "trx;LogFileName=Output.trx" \
            --logger "console;verbosity=normal" \
            --collect:"XPlat Code Coverage" \
            --results-directory ./results

      - name: 生成测试报告
        run: |
          dotnet tool install -g dotnet-reportgenerator-globaltool
          reportgenerator \
            -reports:results/**/coverage.cobertura.xml \
            -targetdir:results/Coverage \
            -reporttypes:Html

      - name: 上传测试报告
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: Test#${{ github.run_number }}.NET 9.0.Reports
          path: |
            results/Output.trx
            results/Coverage
          retention-days: 14
